body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.vanilla-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.vanilla-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.vanilla-temperature img {
  margin-right: 2px;
  height: 64px;
  width: 64px;
}

.vanilla-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.vanilla-temperature .units {
  line-height: 30px;
  vertical-align: top;
}

/* .vanilla-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.vanilla-temperature .active:hover {
  text-decoration: none;
} */

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units a {
  text-decoration: none;
}

.vanilla-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.vanilla-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.vanilla-forecast-temperature-min {
  opacity: 0.5;
}

.vanilla-forecast-temperatures {
  font-size: 13px;
}