body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/949/original/quiraing.jpg?1677901084");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.vanilla-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.vanilla-app {
  padding: 20px;
  /* border: 1px solid #dadde1; */
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  /* background: rgba(255, 255, 255, 0.7); */
  /* box-shadow: rgb(0 0 0 / 20%); */
}

.overview {
  margin-bottom: 20px;
}

.vanilla-temperature img {
  margin-right: 2px;
  height: 64px;
  width: 64px;
}

.vanilla-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.vanilla-temperature .units {
  line-height: 30px;
  vertical-align: top;
}

.vanilla-forecast {
  margin-top: 40px;
  text-align: center;
  color: #000;
}

.vanilla-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.vanilla-forecast-temperature-min {
  opacity: 0.5;
}

.vanilla-forecast-temperatures {
  font-size: 13px;
}

a {
  color: #fff;
}